 
.App {
  text-align: center;
}

.homepage{
  background-image: url("./image/home.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  height: 100vh;
  width: 100%;
  z-index: -1;
  /* color: #bc6c9a; */
}
